.home{
    color: white;
}


.homepage{
    height: 100vh;
    width: 100%;
    background: url('../../../resources/images/react-mountains.png') no-repeat fixed center;
    background-size: cover;
}

.App-header-container {
    width: 100%;
    height: 20vh;
    text-align: center;
}

.App-header {
    height: 50px;
    margin: 7% auto;
    text-align: center;
    width: 100%;
}

.App-title{
    font-size: 35px;
}

.App-intro-container{
    width: 100%;
    padding-top: 5%;
}

.App-intro{
    width: 100%;
    height: 55vh;
    text-align: center;
    line-height: 220%;
    padding-top: 2%;
}

.App-bottom-container{
    width: 100%;
    text-align: center;
    bottom: 5%;
}

.App-bottom{
    width: 100%;
    height: 55vh;
    text-align: center;
    line-height: 220%;
    padding-top: 2%;
}

iframe:focus {
    outline: none;
}

iframe[seamless] {
    display: block;
}
