.home{
    color: white;
}

.App-header {
    margin: 5%;
  height: 50px;
  padding: 20px;
}

.App-intro {
    margin: 10%;
  font-size: large;
}

iframe:focus {
    outline: none;
}

iframe[seamless] {
    display: block;
}
