.header {
    background-color: #222;
    height: 10vh;
    padding: 20px;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.header-text{
    font-size: 40px;

}