.movies{
    background: black;
}

.dataview-listItem {
    padding: 2em;
    border-bottom: 1px solid #222;
    width: 10px;
}

.dashboard-route{
    background: white;
}

.image-poster {
    max-width: 90%;
    height: 30vh;
}

.image-poster-grid {
    max-width: 111%;
    height: 64vh;
}
.movieList-text{
    margin: auto auto;
    font-size: 15px;
}

.gridMovie-titles{
    max-height: 10%;
}

p-dataview-content{
    margin-left: 50px;
}

.grid-header{
    font-size: 18px;
    max-height: 5px;
    margin-bottom: 30px;
    margin-left: 10%;
}

a {
    transition: all 0.7s;
}

a:hover{
    text-decoration: none;
    color: white;
}