
/*.movieBox {*/
    /*width: 80%;*/
    /*margin : auto auto auto auto;*/
    /*text-align: center;*/
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: center;*/
    /*background: pink;*/

/*}*/
/*.movie-title{*/
     /*text-align: center;*/
     /*margin: auto auto;*/
     /*display: flex;*/
     /*justify-content: center;*/
     /*max-width: 100%;*/
     /*max-height: 80%;*/
     /*font-size: 15px;*/
     /*font-weight: bold;*/
 /*}*/
.dataview-listItem {
    padding: 2em;
    border-bottom: 1px solid s#222;
    width: 10px;
}

.dashboard-route{
    background: white;
}

.image-poster {
    max-width: 90%;
    height: 30vh;
}

.image-poster-grid {
    max-width: 111%;
    height: 64vh;
}
.movieList-text{
    margin: auto auto;
    font-size: 15px;
}

.gridMovie-titles{
    max-height: 10%;
}

p-dataview-content{
    margin-left: 50px;
}


/*text-align: center;*/
/*margin: auto auto;*/
/*display: flex;*/
/*justify-content: center;*/
/*max-width: 100%;*/
/*max-height: 80%;*/
/*font-size: 15px;*/
/*font-weight: bold;*/