.movieBox-container{
    max-width: 80%;
}

.movieBox {
    width: 80%;
    margin : auto auto auto auto;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: pink;

}
.movie-title{
     text-align: center;
     margin: auto auto;
     display: flex;
     justify-content: center;
     max-width: 100%;
     max-height: 80%;
     font-size: 15px;
     font-weight: bold;
 }

.movieBox-poster {
    max-width: 90%;
    height: 35vh;
}


.movieImageContainer {
    width: 80%;
    margin : auto auto auto auto;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}